body {
  color: black;
  font-family: 'Space Mono', monospace;

  font-size:26px;
}
.output {
display:none;
}
.active:after {
  content: '_';
}

.heading {
  font-size: 6em;
}

.tagline{
  font-size: 2.5em;
}
main {
  margin: 10%;
}

.description {
  opacity: 0;
  font-size: 2.5em;
  transition: all 2s ease-in 1s;
}

.showy {
  opacity: 1 !important;
  transition: all 2s ease-in 1s;
}

.class-list {
  opacity: 0;
}

.class-list .col-sm-4 {
  height: 30vh;
}

.class-list p {
  height: 90%;
  padding: 10;
  font-size: 2.6em;
  color: white;
}


.green {
  background: #1A5E63;
  transition: all 0.3s ease-in;
}
.turquoise {
  background: #028090;
  transition: all 0.3s ease-in;
}

.green:hover {
  background: #D6B83D;
}
.turquoise:hover {
  background: #D6B83D;
}

@media (min-width: 600px) {
  body{
    padding: 5%;
  }

  .class-list {
    padding-top: 5%;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 4em;
  }

  .tagline{
    font-size: 1.5em;
  }

  .description {
    font-size: 1.5em;
  }
}
